
h2 {
    font-weight: 700!important;

}
.contain {
  width: 500px;
  height: 527px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 7%), 0 4px 5px rgb(0 0 0 / 6%),
    0 1px 10px rgb(0 0 0 / 10%);
  .signin {
    .signn{
        form{
            width: 436px;
            height: 463px;
         
            p{
              span{

              }
            }
            input{
                 border: 1px solid;
    border-radius: 2px;
    position: relative;
            }
        }
      }
  }
 
}
